@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-image : url("http://www.chelseanews24.com/files/2017/02/chelsea_fans1.jpg") ;
  background-size: auto 100%;
  text-align: center;
  color: red;
  font-family:  Montserrat;
}
