@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-image : url("http://i.huffpost.com/gen/2638850/images/o-CHELSEA-BANNER-facebook.jpg") ;
  background-size: auto 100%;
  text-align: center;
  color: red;
  font-family:  Montserrat;
}
