
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-image : url("http://i.dailymail.co.uk/i/pix/2015/05/24/17/290A761700000578-3095077-image-a-248_1432485793297.jpg") ;
  background-size: auto 100%;
  text-align: center;
  color: red;
  font-family:  Montserrat;
}
